flask
flask-smorest
python-dotenv
sqlalchemy 
flask-sqlalchemy
flask-jwt-extended
passlib   #used for protecting the passsword ,so that even when someone get access to the database..they cannot see it
flask-migrate
gunicorn
psycopg2-binary
requests
rq
redis
sib_api_v3_sdk